body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hotpink;
  margin: 0;
}

section {
  text-align: center;
}

h1 {
  font-family: 'Shrikhand', cursive;
  font-size:200%;
}

